h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
body{
    
    background-image:url(Captura\ de\ tela\ 2022-11-24\ 180520.png);
    background-size: 150vh;
    background-repeat:0;
}