input:invalid {
    animation: shake .3s;
}
@keyframes shake {
    25% { transform: translateX(4px);}
    50% { transform: translateX(-4px);}
    75% { transform: translateX(4px);}

}

body{
    color: rgb(255, 255, 255);
    text-align: center;
        background-color: rgb(97, 74, 202);
        background-image: linear-gradient( to right, red, transparent, blue );
        padding: 100px; 
}

